pyinstaller==6.10.0

# IA
ollama==0.3.3

# Voz
SpeechRecognition==3.10.4
PyAudio==0.2.14
edge-tts>=7.2.7
pygame==2.6.1
pyttsx3==2.90

# Control de medios / sistema (Windows)
pywin32==306
winshell==0.6
comtypes==1.4.5
pycaw==20240210
winsdk==1.0.0b10
pyautogui==0.9.54
psutil==6.0.0

# Red / utilidades
requests==2.32.3